<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :project_user %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :project_email %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.number_field :state, id: :project_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
